// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;

  a {
    font-family: $paragraph-font-family;
    color: inherit;
    font-size: $header-font-size;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  small {
    font-family: $header-font-family;
    font-size: $header-font-size;
    font-weight: 400;
    opacity: .5;
    letter-spacing: 0.1em;
  }

  .pipe {
    color: $periwinkle;
    font-family: $paragraph-font-family;
    font-size: $header-font-size;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: $header-font-size;
  }
}
